body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #819595;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.user-profile{
  cursor: pointer;
  background-color: #FF0000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.form-control{
  background-color: #363946;
  color: #B1B6A6;
}
.form-control:focus {
  background-color: #363946;
  color: #B1B6A6;
  outline: none;  /* Optional: remove the blue glow */
}
#title{
  width:20rem;
  height: 4rem;
  font-size: 2rem;
}
#description{
  font-size: 2rem;
  height: 4rem; 
}
#tag{
  width:20rem;
  height: 3rem;
}